*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#title{
    font-size: 50px;
    color: blue;
    margin: 30px auto 0;
}

#rgb-color{
    margin: 30px auto 25px;
    color: red;
    font-size: 28px;
}

.ball{
    margin: 0 4px;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 40px;
    display: inline-block;
    cursor: pointer;
}

#answer{
    margin: 40px 0;
    font-size: 35px;
}